@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.header {
    color: #8DA259;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 15vh;
    word-spacing: 9999rem;
    text-align: center;
    max-width: 1500px;
    margin: auto;
}

.background {
    background-color: pink;
    width: 100vw;
    height: 70vh;
    max-width: 1500px;
    margin: auto;
}

.footer {
    height: 15vh;
    color: #8DA259;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    max-width: 1500px;
    margin: auto;
}

.icons-container {
    width: 30%;
    display: flex;
    justify-content: space-around;
}